body {
    margin: 0
}

.banner {
    background-color: purple;
    color: darkturquoise;
    text-align: center;
}

.shop {
    background-color: lightgray;
    padding: 1em;
}

.background {
    background-image: radial-gradient(rgba(0, 206, 209, 0.5), rgba(128, 0, 128, 0.5)), url(record.png);
    background-color: aquamarine;
}